body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f6f7f8;
    color: #292929;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 22px;
}

.headers {
    margin-bottom: 13px;
}

.title{
    font-size: 28px;
    font-weight: 700;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

.card {
    background: #d0cccc;
    border-radius: 18px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.06);
    padding: 14px;
    margin-top: 14px;
}

.card-title {
    font-size: 12px;
    color: #747171;
    margin-top: 10px;
}

.daily-items {
    padding: 8px;
    border-bottom: 1px solid #ebe6e6;
    font-size: 14px;
}